ol[dir='ltr'] .headlessClose {
  --headless-close-start: unset;
  --headless-close-end: 6px;
}

ol[dir='rtl'] .headlessClose {
  --headless-close-start: 6px;
  --headless-close-end: unset;
}

.headless {
  padding: 16px;
  width: 356px;
  box-sizing: border-box;
  border-radius: 8px;
  background: var(--gray1);
  border: 1px solid var(--gray4);
  position: relative;
}

.headless .headlessDescription {
  margin: 0;
  color: var(--gray10);
  font-size: 14px;
  line-height: 1;
}

.headless .headlessTitle {
  font-size: 14px;
  margin: 0 0 8px;
  color: var(--gray12);
  font-weight: 500;
  line-height: 1;
}

.headlessClose {
  position: absolute;
  cursor: pointer;
  top: 6px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: var(--headless-close-start);
  right: var(--headless-close-end);
  color: var(--gray10);
  padding: 0;
  background: transparent;
  border: none;
  transition: color 200ms;
}

.headlessClose:hover {
  color: var(--gray12);
}
